/* --------------------------------------------------------------------
               			WWW Browser / NEXT

-------------------------------------------------------------------- */
* {
  font-smooth: none;
  font-smooth: never;
  -webkit-font-smoothing: none;
  -moz-font-smoothing: none;
  font-weight: normal;
  font-style: all;
  margin: 0;
  padding: 0;
  border: 0;
  cursor: default;
  user-select: none !important;
  outline: none;
}

header,
footer,
main,
nav,
aside,
article,
section,
figure,
figcaption {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
}
html,
body {
  height: 100%;
  overflow: hidden; /* hide OS scrollbars */
}

#root, #root > div {
  min-height: 100%;
  display: flex;
  flex: 1;
  outline: none;
}

/* @FONT DECLARATIONS */
@font-face {
  font-family: 'NeXT_Bold'; /* use at 13px */
  src: url('../../../content/css/fonts/CERN-www-regular-bold.woff2') format('woff2'),
    url('../../../content/css/fonts/CERN-www-regular-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeXT_Roman'; /* use at 13px */
  src: url('../../../content/css/fonts/CERN-www-regular.woff2') format('woff2'),
    url('../../../content/css/fonts/CERN-www-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeXT Big_Bold'; /* use at 20px */
  src: url('../../../content/css/fonts/CERN-www-headline-bold.woff2') format('woff2'),
    url('../../../content/css/fonts/CERN-www-headline-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeXT Mono_Regular'; /* use at 10px */
  src: url('../../../content/css/fonts/CERN-www-mono.woff2') format('woff2'),
    url('../../../content/css/fonts/CERN-www-mono.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeXT Oblique'; /* use at 13px */
  src: url('../../../content/css/fonts/CERN-www-regular-oblique.woff2') format('woff2'),
    url('../../../content/css/fonts/CERN-www-regular-oblique.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeXT Bold-Oblique'; /* use at 13px */
  src: url('../../../content/css/fonts/CERN-www-regular-bold-oblique.woff2') format('woff2'),
    url('../../../content/css/fonts/CERN-www-regular-bold-oblique.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeXT Bold_14'; /* use at 14px */
  src: url('../../../content/css/fonts/CERN-www-bold-14.woff2') format('woff2'),
    url('../../../content/css/fonts/CERN-www-bold-14.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeXT Oblique_16'; /* use at 16px */
  src: url('../../../content/css/fonts/CERN-www-oblique-16.woff2') format('woff2'),
    url('../../../content/css/fonts/CERN-www-oblique-16.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



/* DEFAULTS */
body {
  font: 13px/1.45 'NeXT_Roman', Helvetica, 'Helvetica Neue', Arial, sans-serif;
  color: #000;
  background-color: #555;
}

p,
li,
dt,
dd {
  font-size: 13px;
}

/*strong {
	font-family: "NeXT_Bold", Helvetica, "Helvetica Neue", Arial, sans-serif;
}
em {
	font-family: "NeXT Oblique", Helvetica, "Helvetica Neue", Arial, sans-serif;
}*/

hr {
  height: 1px;
  background-color: #fff;
  border: none;
  border-top: 1px solid #555;
}

img {
  max-width: 100%;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

::-webkit-scrollbar {
  width: 17px;
  background-image: url(../img/scroll-bg.png);
}
::-webkit-scrollbar-thumb {
  background: #aaa url(../img/circle.png) center no-repeat;
  border-top: 1px solid #fff;
  border-right: 1px solid #555;
  border-bottom: 1px solid #555;
  border-left: 1px solid #fff;
}

a {
  color: #000;
}

::selection, mark {
  color: #000 !important;
  background-color: #aaa !important;
  font-size: inherit !important;
  font-weight: inherit !important;
}

/* --------------- FORMS -------------------- */

input {
  font: 13px/1 'NeXT_Roman', Helvetica, 'Helvetica Neue', Arial, sans-serif;
  padding: 2px 1px;
  border-top: 2px solid #555;
  border-left: 2px solid #555;
  border-radius: 0;
}

fieldset {
  position: relative;
  background-color: #aaa;
  padding: 1rem 0.5rem 0.5rem 0.5rem;
  border-top: 1px solid #555;
  border-right: 1px solid #555;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #555;
}

fieldset .content {
  position: relative;
  margin-top: 5px;
  z-index: 10;
}

fieldset::before,
fieldset::after {
  display: block;
  position: absolute;
  box-sizing: border-box;
  content: '';
}
fieldset::before {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #555;
  border-left: 1px solid #fff;
  z-index: 1;
}

legend {
  position: absolute;
  width: 100%;
  top: -0.5em;
  left: 0;
  font-size: 13px;
  text-align: center;
  z-index: 10;
}
legend span {
  background-color: #aaa;
  padding: 0 0.5em;
}

/* --------------- BUTTONS -------------------- */

button {
  position: relative;
  width: 100%;
  font: 13px/1 'NeXT_Roman', Helvetica, 'Helvetica Neue', Arial, sans-serif;
  background-color: #aaa;
  padding: 5px 0;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
}

button.active,
button:active {
  background: #fff;
}

button::after,
button::before {
  display: block;
  position: absolute;
  content: '';
  background-color: #555;
}
button::after {
  width: 1px;
  height: 100%;
  top: 0;
  right: 0;
}
button::before {
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
}

button.icon-buttons {
  width: 17px;
  background-color: initial;
  border: none;
  padding: 0;
}

button.icon-buttons::before,
button.icon-buttons::after {
  content: none;
}

button.enter-button {
  background: #aaa url(../img/enter-button.png) right no-repeat;
  padding: 10px;
}
button.enter-button.active,
button.enter-button:active {
  background-color: #fff;
}

/* Buttons/actions blocks */

ul.buttons-bar {
  display: flex;
  list-style-type: none;
}

ul.buttons-bar li {
  flex: 1;
}

/* ----------------- TITLE BARS ---------------------- */

div.title-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  background-color: #aaa;
  padding: 0.2rem 0.2rem 0.1rem;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #000;
  outline: 1px solid #000;
}
div.title-bar::before,
div.title-bar::after {
  display: block;
  position: absolute;
  content: '';
  background-color: #555;
}

div.title-bar::after {
  width: 1px;
  height: 100%;
  top: 0;
  right: 0;
}
div.title-bar::before {
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
}

.title-bar.active {
  color: #fff;
  background-color: #000;
}
div.title-bar h2 {
  min-height: 16px;
  flex: 1;
  font: 13px 'NeXT_Bold', Helvetica, 'Helvetica Neue', Arial, sans-serif;
  text-align: center;
}

/* --------------- WEBVIEW -------------------- */

.webview {
	display: flex;
	flex-direction: column;
  border: 1px solid #000;
  background: white;
}

.textview body {
  background: white;
  overflow: visible;
  padding: 0.3rem;
}

  .webview div.r2l-content {
    direction: rtl;
    overflow: auto;
	  height: 60%;
	  max-height: 90vh;
	  width: 600px;
    background-color: #FFF;
  }
  .webview .l2r-content.content {
    direction: ltr;
    background-color: #FFF;
    padding: 0.3rem;
  }

button.grab-window {
	overflow: hidden;
	height: 8px;
	text-indent: -500em;
	color: #AAA;
	background-color: #AAA;
	background-image: url(../img/grabber-bg.png), url(../img/grabber-bg2.png);
	background-position: 50px 0, right center;
	background-repeat: repeat-y;
	border-right: none;
	border-bottom: none;
	margin-top: auto;
}

/* --------------- PANELS -------------------- */

div.panel {
  border: 1px solid #000;
}

div.panel .content {
  background-color: #aaa;
}

div.panel .webview {
  margin: 0 auto;
}

/* --------------- MAIN NAVIGATION -------------------- */

.panel.menu {
  top: 0;
  left: 0;
  min-width: 130px;
}
.panel.menu .title-bar {
  color: #fff;
  background-color: #000;
}
.panel.menu div.title-bar h2 {
  text-align: left;
}
.panel.menu ul {
  list-style-type: none;
}

.panel.menu nav button {
  /* font-family: "NeXT_Bold", Helvetica, "Helvetica Neue", Arial, sans-serif; */
  text-align: left;
  padding: 0.3em 0.25em;
}

.panel.menu nav button.next {
  background-image: url(../img/arrow-right.png);
  background-position: right;
  background-repeat: no-repeat;
}

.panel.menu nav button span {
  float: right;
  padding: 0 0.3em 0 0.5em;
}

/* ------------------------ SPECIFICS -------------------------- */

div.help-dialogue {
  padding: 4px 20px;
  width: 330px;
}

div.help-dialogue p {
  margin: 18px 0;
}

div.help-dialogue button {
  width: auto;
  padding: 5px;
}


div.first-block {
  text-align: center;
  padding-bottom: 7px;
}
div.first-block p {
  padding: 5px 0 10px;
}
ul.buttons-bar.limited {
  justify-content: center;
}
ul.buttons-bar.limited li {
  flex: inherit;
  margin: 0 5px;
}
ul.buttons-bar.limited button {
  width: auto;
  padding: 0.3em 1em;
}

.second-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.second-block > ul.buttons-bar:first-of-type {
  width: 177px;
}
.second-block fieldset ul.buttons-bar {
  width: 100px;
  padding: 5px 10px;
}
.second-block fieldset {
  padding: 5px 2px 0 2px;
}
	/* SAVE FILE PANEL */

	.adaptable {
		overflow-y: scroll;
		padding: 2px;
	}

	#save-file {
		display: flex;
		flex-direction: column;
		width: 300px;
	}
	#save-file .first-block, #save-file .second-block {text-align: left;}

	#save-file .second-block {display: block; margin: 0 10px 10px;}
	#save-file .second-block::before {
		display: block;
		content: "";
		width: 100%;
		height: 20px;
		background-color: #555;
		border-top: 1px solid #000;
		border-left: 1px solid #000;
		border-right: 1px solid #FFF;
		border-bottom: 1px solid #FFF;
	}

	#save-file .second-block p {
		margin: 10px 0;
	}
	#save-file .second-block ul.buttons-bar {
		width: 100%;
		justify-content: flex-end;
	}
		#save-file .second-block ul.buttons-bar li {
			flex: initial;
			padding-left: 5px;
		}
			#save-file .second-block ul.buttons-bar li:nth-child(4),
			 	#save-file .second-block ul.buttons-bar li:nth-child(5) {
				width: 60px;
			}
		#save-file ul.buttons-bar button {
			padding: 6px 0;
		}
		#save-file ul.buttons-bar button.enter-button {
			padding: 6px 15px 6px 0;
		}
	#save-file .second-block input {
		width: 230px;
		padding: 3px;
	}

	#save-file h3 {
		font: 20px "NeXT Big_Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
		background: url(../img/browser-logo.png) 0 10px no-repeat;
		padding: 30px 0 30px 70px;
		margin: 0 0 0 20px;
	}

	div.file-lists {display: flex;}
		div.file-lists .list {
			flex: 1;
			margin: 10px 10px 0;
			border-top: 1px solid #555;
			border-left: 1px solid #555;
			border-right: 1px solid #FFF;
			border-bottom: 1px solid #FFF;
			outline: 1px solid #555;
		}
		div.file-lists h4 {
			font-family: "NeXT_Bold", Helvetica, "Helvetica Neue", Arial, sans-serif;
			text-align: center;
			color: #FFF;
			background-color: #555;
			padding: 3px 0 0;
			border-top: 1px solid #000;
			border-left: 1px solid #000;
			border-right: 1px solid #FFF;
			border-bottom: 1px solid #FFF;
    }

    div.file-lists select {
      font-family: "NeXT_Roman", Helvetica, "Helvetica Neue", Arial, sans-serif;
      font-size: 13px;
      overflow:auto;
      height: 100%;
      width: 100%;
      border: 0;
      background: none;
    }

    div.file-lists select option {
      padding: 0.2em 0.3em 0.1em;
    }

		div.file-lists ul {list-style-type: none;}

		div.file-lists li {
			position: relative;
			overflow: hidden;
      font-family: "NeXT_Bold", Helvetica, "Helvetica Neue", Arial, sans-serif;
		}
		div.file-lists input {
      position: absolute;
      left: -50em;
    }
    div.file-lists label {
      display: block;
      margin: 0.1em 0;
      padding: 0 0.3em;
    }
		div.file-lists input[type=radio]:checked + label {
      background-color: #FFF;
		}

		#save-file .r2l-content {
			direction: rtl;
			overflow: auto;
			height: 200px;
		}
		#save-file .l2r-content {
				direction: ltr;
				background-color: #AAA;
				padding: 0;
			}

/* BROWSER INFO */

#browser-info header {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 10px 0;
}
#browser-info .webview {
  margin-bottom: 10px;
}
#browser-info .hgroup {
  flex: 1;
}

#browser-info header p {
  flex-basis: 100px;
  text-align: center;
}
#browser-info header h3 {
  font: 20px 'NeXT Big_Bold', Helvetica, 'Helvetica Neue', Arial, sans-serif;
  margin-bottom: 0.5em;
}
#browser-info header p.baseline {
  width: 10em;
  font: 17px 'NeXT_Roman', Helvetica, 'Helvetica Neue', Arial, sans-serif;
  margin: 0;
}
#browser-info header p.release {
  text-align: left;
  color: #555;
}
#browser-info header address {
  flex-basis: 100%;
  font-size: 17px;
  font-style: normal;
  text-align: right;
}

#browser-info p.copyright {
  text-align: left;
  color: #555;
}

#browser-info .first-block {
  padding: 0 10px 20px;
}
#browser-info dl div {
  display: flex;
}
#browser-info dt,
#browser-info dd {
  display: inline;
  font-size: 17px;
  text-align: left;
}

/* BROWSER NAVIGATION */

#browser-nav {
  width: 210px;
}
#browser-nav .first-block {
  padding: 7px 2px 0 0;
}

#browser-nav .first-block button {
  padding: 0.6em 0.6em;
}
#browser-nav .second-block ul.buttons-bar {
  width: 100%;
  justify-content: space-between;
  padding: 0 0 5px;
}
#browser-nav .second-block ul.buttons-bar.limited li {
  margin: 0;
}
#browser-nav .second-block {
  padding: 7px;
  margin: 0;
}

/* BROWSER INFO */
#browser-info {
  width: 620px;
}

/* STYLE EDITOR */
#style-editor {
  width: 420px;
}
#style-editor .second-block {
  margin: 0 10px 15px 4px;
}

#style-editor .third-block {
  padding: 0 10px 10px;
}
#style-editor .third-block p:last-of-type {
  margin: 15px 0 10px;
}

#style-editor button.enter-button {
  position: absolute;
  width: 7em;
  right: 0;
  top: 0;
  padding: 5px;
}

#tag-tabs {
  width: 340px;
  height: 3em;
}

/* OPEN URL */
#open-url {
  width: 600px;
}
#open-url .second-block fieldset {
  width: 170px;
  margin-left: 15px;
}
#open-url .second-block {
  padding-bottom: 10px;
}

#open-url .second-block fieldset ul.buttons-bar {
  width: auto;
}
#open-url .second-block fieldset button {
  margin-top: 10px;
}

#open-url .second-block button.enter-button {
  font: 18px 'NeXT Bold_14', Helvetica, 'Helvetica Neue', Arial, sans-serif;
  width: 100px;
  margin-right: 15px;
}
#open-url .second-block button.enter-button strong {
  display: inline-block;
  padding: 0 25px 0 15px;
}

#open-url .first-block p {
  padding: 17px 0;
}

ul.buttons-bar.vertical {
  flex-direction: column;
}
ul.buttons-bar.vertical li + li {
  margin-top: 5px;
}

p.tabbed {
  display: flex;
  align-items: center;
}

p.tabbed + p.tabbed {
  margin-top: 4px;
}
p.tabbed label {
  flex-basis: 10em;
  text-align: right;
  padding-right: 3px;
}

/* Specifics widths for inputs */

input[name='style-name'] {
  width: 241px;
}
#addr-reference {
  width: 486px;
  height: 3em;
}

/* prompts */

.prompt {
  padding: 0;
}

.prompt h3 {
  font: 20px "NeXT Big_Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: url(../img/browser-logo.png) 0 0 no-repeat;
  padding: 20px 0 20px 70px;
  margin: 0;
  text-align: left;
}

.prompt .second-block {
  padding: 10px;
  display: block;
  min-width: 300px;
}

.prompt .buttons-bar {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.prompt .buttons-bar li {
  min-width: 75px;
  margin-left: 10px;
  flex: 0;
}

.prompt button.enter-button {
  padding: 5px;
  text-align: left;
  padding-left: 10px;
}

.prompt .text {
  margin: 0 0 14px 0;
  font: 15px 'NeXT_Roman', Helvetica, 'Helvetica Neue', Arial, sans-serif;
}

/* revert an earlier, stronger, selector */
.prompt .second-block > ul.buttons-bar:first-of-type {
  width: auto;
}

.textview {
  font-size: 13px;
  line-height: 14px;
  -webkit-font-smoothing: none;
  margin: 1.5em 0 0 90px;
  /* Definition lists */
  /* Even though the code for styling highlighted phrases isn't complete,
     we're including those selectors here and treating them like WorldWideWeb did */ }
  .textview * {
    font-size: 13px;
    line-height: 14px;
    -webkit-font-smoothing: none; }
  .textview nextid {
    height: 1.2em; }
  .textview h1 {
    /* default: Helvetica-Bold 18pt, 0 indent, 18 line height,
	3.0 descent line, center, 0 space before, 36 space after */
    margin: 1.1em 0 2.8em -90px;
    font-family: 'NeXT Big_Bold', Helvetica, 'Helvetica Neue', Arial, sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    text-align: center; }
  .textview h2 {
    /* default: Helvetica-Bold 14pt, 0 indent, 14 line height,
	3.0 descent line, 14 space before, 14 space after */
    margin: 1.5em 0 1.5em -90px;
    font-family: 'NeXT Bold_14', Helvetica, 'Helvetica Neue', Arial, sans-serif;
    font-weight: normal;
    font-size: 14px; }
  .textview h3 {
    /* default: Helvetica-Oblique 14pt, 10 indent, 14 line height,
	3.0 descent line, 14 space before, 14 space after */
    font-family: 'NeXT Oblique_16', Helvetica, 'Helvetica Neue', Arial, sans-serif;
    margin: 1em 0 1em -80px;
    font-style: normal;
    font-size: 14px; }
  .textview h4 {
    /* default: Helvetica-Bold 12pt, 20 indent, 14 line height,
	3.0 descent line, 14 space before, 14 space after */
    font-family: 'NeXT_Bold', Helvetica, 'Helvetica Neue', Arial, sans-serif;
    margin: 1em 0 1em -70px;
    font-weight: normal; }
  .textview h5 {
    /* default: Helvetica-Bold 12pt, 30 indent, 14 line height,
	3.0 descent line, 14 space before, 14 space after */
    font-family: 'NeXT_Bold', Helvetica, 'Helvetica Neue', Arial, sans-serif;
    margin: 1em 0 1em -60px;
    font-weight: normal; }
  .textview h6 {
    /* default: Helvetica-Bold 12pt, 40 indent, 14 line height,
	3.0 descent line, 14 space before, 14 space after */
    font-family: 'NeXT_Bold', Helvetica, 'Helvetica Neue', Arial, sans-serif;
    margin: 1em 0 1em -50px;
    font-weight: normal; }
  .textview a[href] {
    text-decoration: underline;
    color: inherit; }
  .textview a:active[href] {
    background-color: #ccc; }
  .textview p {
    margin-top: 1.5em;
    /* paragraph has one line after... but
 was used more as a
	   separator than a wrapper... so using margin-top instead    */ }
  .textview li {
    margin: 1em 0 1em 3.8em;
    list-style-type: "-              "; }
  .textview dl {
    margin: 1em 0 1em -70px; }
  .textview dl + h2 {
    margin-top: 4em; }
  .textview dt,
  .textview dd {
    display: inline-block;
    vertical-align: top; }
  .textview dt:not(:first-of-type),
  .textview dd:not(:first-of-type) {
    margin-top: 1.5em; }
  .textview dt {
    width: 25ch; }
  .textview dd {
    width: 27.5em;
    width: 50ch; }
  .textview xmp {
    display: block;
    white-space: pre; }
  .textview address {
    display: block;
    font-style: italic;
    text-align: right; }
  .textview hp1, .textview i, .textview em {
    font-style: normal; }
  .textview hp2, .textview b, .textview strong {
    font-weight: normal; }
  .textview hp3 {
    font-style: normal;
    font-weight: normal; }

.textview .project {
  font-size: 18px;
  line-height: 18px;
  margin: 1.5em 0 0 30px; }
  .textview .project h1 {
    margin: 1.1em 0 2.8em -30px;
    font-size: 36px; }
  .textview .project h2 {
    margin: 1.5em 0 1.5em -30px;
    font-size: 24px; }
  .textview .project h3 {
    margin: 1em 0 1em -20px;
    font-size: 18px; }

@media print {
  .textview {
    font-family: Times, "Times New Roman", serif;
    font-size: 10pt;
    line-height: 12pt;
    -webkit-font-smoothing: normal;
    margin: 1.5em 0 0 90px; }
    .textview h1, .textview h2, .textview h3, .textview h4, .textview h5, .textview h6 {
      font-family: Helvetica, "Arial Narrow", sans-serif; }
    .textview dl {
      margin: 1em 0 1em -40px; }
    .textview xmp {
      font-family: Courier, "Courier New", monospace;
      white-space: pre; } }

.react-draggable-transparent-selection iframe {
  pointer-events: none;
}
