.webview {
  font-size: 0.8em;

  [contenteditable] { outline: none; }

  .controls h2 {
    flex: 1;
  }

  .r2l-content {
    overflow: auto;
    height: 60%;
    max-height: 90vh;
    width: 600px;
  }

  .l2r-content {
    margin-left: 16px;
  }
}

.webview .content {

  nextid {
    line-height: 1.2em;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  h1 {
    margin: 1.5em 0; /* 1 line of space above and below h1 only */
    text-align: center;
    text-transform: uppercase; /* only h1, h2 all caps */
  }

  h2 {
    text-transform: uppercase; /* only h1, h2 all caps */
  }

  h3 {
    margin: 0 1.1em;
    margin: 0 2ch; /* h3 indents 2 chars */
  }

  h4 {
    margin: 0 2.2em;
    margin: 0 4ch; /* h4 indents 4 chars */
  }

  h5 {
    margin: 0 3.3em;
    margin: 0 6ch; /* h5 indents 6 chars */
  }

  h6 {
    margin: 0 4.4em;
    margin: 0 8ch; /* h6 indents 8 chars */
  }

  a {
    text-decoration: underline;
    color: inherit;
  }

  p {
    margin-top: 1.5em;
    /* paragraph has one line after... but <P> was used more as a
	   separator than a wrapper... so using margin-top instead    */
  }

  ol,
  ul,
  dl {
    margin: 1.5em 0; /* list style has 1 line of space above and below */
  }

  /* Definition lists */
  dt,
  dd {
    display: inline-block;
    vertical-align: top;
  }

  dt:not(:first-of-type),
  dd:not(:first-of-type) {
    margin-top: 1.5em;
  }

  dt {
    width: 20ch;
    margin-left: 7ch;
  }

  dd {
    width: 27.5em;
    width: 50ch;
  }

  xmp {
    display: block;
    white-space: pre;
  }

  address {
    display: block;
    font-style: italic;
    text-align: right;
  }

  hp1 {
    font-style: italic;
  }

  hp2 {
    font-weight: bold;
  }

  hp3 {
    font-style: italic;
    font-weight: bold;
  }
}
