* {
  cursor: default;
}

.WebView {
  border: 2px solid #ccc;
  width: 600px;
  height: 60%;
  overflow: auto;
  background: white;

  .controls {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: #000;
    background-color: #aaa;

    button {
      flex: none;
      display: inline-block;
      width: 10%;
      all: unset;
    }
  }

  &.active .controls {
    color: #fff;
    background-color: #000;
  }

  .controls li {
    display: inline-block;
    width: 16px;
    height: 17px;
    margin: 0 2px;
  }

  .controls h2 {
    text-align: center;
    flex: 1;
  }

  .content {
    outline: none;
    background-color: #fff;
    padding: 0.3rem;
  }
}
