main,
section {
  max-width: 100%;
}
.constrained {
  max-width: 80em;
}
.timeline {
  position: relative;
}
.timeline__list {
  margin-left: 0;
}
.h-event {
  list-style: none;
  margin-bottom: 2em;
}
.u-url {
  text-decoration: none;
  line-height: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: 0.3s;
}
.dt-start {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 2.75em;
  height: 2.75em;
  border-radius: 50%;
  border: 1px solid rgba(0,0,0,0.5);
  background-color: rgba(255,255,255,1);
  transition: 0.3s;
}
.u-url:hover,
.u-url:focus {
  background-color: transparent;
}
.u-url:hover .dt-start,
.u-url:focus .dt-start {
  background-color: rgba(1,1,1,1);
  color: rgba(255,255,255,1);
}
.u-url:hover .p-name,
.u-url:focus .p-name {
  color: rgba(204,0,0,1);
}
.present .h-event {
  font-size: 1.2em;
}
.present .dt-start {
  color: rgba(255,255,255,1);
  background-color: rgba(1,1,1,1);
  z-index: 2;
}
.present .p-name {
  font-weight: bold;
  z-index: 2;
}
.present .u-url:hover .dt-start,
.present .u-url:focus .dt-start {
  background-color: rgba(255,255,255,1);
  color: rgba(1,1,1,1);
}
@media all and (max-width: 29.99em) {
  .timeline::after {
    content: '';
    position: absolute;
    left: calc(50% - 1px);
    top: 2em;
    width: 50%;
    height: calc(100% - 4em);
    border-left: 2px dotted rgba(0,0,0,0.125);
    z-index: -1;
  }
  .present .h-event {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vmin;
    height: 50vmin;
    padding: 1em;
    margin: auto;
    border-radius: 50%;
    border: 1px dashed rgba(0,0,0,0.5);
  }
}
@media all and (min-width: 30em) {
  .canvas {
    margin-top: 6em;
    padding-bottom: 6em;
    margin-bottom: 2em;
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-direction: column;
  }
  .timeline {
    position: relative;
    width: 100%;
    min-height: 12em;
  }
  .timeline__heading {
    position: absolute;
    top: -2.5em;
  }
  .timeline__list {
    margin: 0;
  }
  .present {
    position: relative;
    width: 100%;
    min-height: 14em;
  }
  @supports (left: calc((1989 - 1959) * (100%/30) - 5em)) {
    .timeline::after {
      content: '';
      position: absolute;
      left: 0;
      top: 1.5em;
      width: 100%;
      border-bottom: 2px dotted rgba(0,0,0,0.125);
      z-index: -1;
    }
    .h-event {
      position: absolute;
      width: 5em;
    }
    .past .h-event {
      transition: left 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    .loading .past .h-event {
      left: 100%;
    }
    .present .h-event {
      right: calc(50% - (5em/2));
    }
    .future .h-event {
      transition: right 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    .loading .future .h-event {
      right: 100%;
    }
    .y1963 {
      left: calc((1963 - 1959) * (100%/30) - 5em);
    }
    .y1964 {
      left: calc((1964 - 1959) * (100%/30) - 5em);
    }
    .y1967 {
      left: calc((1967 - 1959) * (100%/30) - 5em);
    }
    .y1968 {
      left: calc((1968 - 1959) * (100%/30) - 5em);
    }
    .y1969 {
      left: calc((1969 - 1959) * (100%/30) - 5em);
    }
    .y1971 {
      left: calc((1971 - 1959) * (100%/30) - 5em);
    }
    .y1973 {
      left: calc((1973 - 1959) * (100%/30) - 5em);
    }
    .y1974 {
      left: calc((1974 - 1959) * (100%/30) - 5em);
    }
    .y1980 {
      left: calc((1980 - 1959) * (100%/30) - 6em);
    }
    .y1981 {
      left: calc((1981 - 1959) * (100%/30) - 5em);
    }
    .y1982 {
      left: calc((1982 - 1959) * (100%/30) - 5em);
    }
    .y1984 {
      left: calc((1984 - 1959) * (100%/30) - 6em);
    }
    .y1986 {
      left: calc((1986 - 1959) * (100%/30) - 6em);
    }
    .y1987 {
      left: calc((1987 - 1959) * (100%/30) - 6em);
    }
    .y1988 {
      left: calc((1988 - 1959) * (100%/30) - 5.75em);
    }
    .y1990 {
      right: calc((2019 - 1990) * (100%/30) - 4em);
    }
    .y1991 {
      right: calc((2019 - 1991) * (100%/30) - 5em);
    }
    .y1992 {
      right: calc((2019 - 1992) * (100%/30) - 4.5em);
    }
    .y1993 {
      right: calc((2019 - 1993) * (100%/30) - 6em);
    }
    .y1994 {
      right: calc((2019 - 1994) * (100%/30) - 7.5em);
    }
    .y1995 {
      right: calc((2019 - 1995) * (100%/30) - 9em);
    }
    .y1997 {
      right: calc((2019 - 1997) * (100%/30) - 9em);
    }
    .y1998 {
      right: calc((2019 - 1998) * (100%/30) - 7.75em);
    }
    .y1999 {
      right: calc((2019 - 1999) * (100%/30) - 9em);
    }
    .y2001 {
      right: calc((2019 - 2002) * (100%/30) - 8em);
    }
    .y2002 {
      right: calc((2019 - 2002) * (100%/30) - 8em);
    }
    .y2003 {
      right: calc((2019 - 2003) * (100%/30) - 9.5em);
    }
    .y2005 {
      right: calc((2019 - 2008) * (100%/30) - 7em);
    }
    .y2008 {
      right: calc((2019 - 2008) * (100%/30) - 8.5em);
    }
    .y2014 {
      right: calc((2019 - 2014) * (100%/30) - 5em);
    }
    .y2015 {
      right: calc((2019 - 2015) * (100%/30) - 5em);
    }
    .hypertext .y1980 .p-name,
    .networks .y1969 .p-name,
    .formats .y1981 .p-name,
    .formats .y1986 .p-name,
    .browsers .y2002 .p-name,
    .browsers .y1992 .p-name,
    .browsers .y1994 .p-name,
    .servers .y1994 .p-name,
    .servers .y1997 .p-name,
    .formats .y1997 .p-name,
    .websites .y1999 .p-name,
    .websites .y2003 .p-name {
      margin-top: -4em;
    }
  }
}

@media all and (min-width: 60em) and (min-height: 35em) {
  .canvas {
    position: relative;
    display: flex;
    flex-direction: row;
  }
  .past {
    width: 47.5vw;
    height: 90vh;
    position: relative;
  }
  .present {
    position: absolute;
    width: 4vw;
    top: calc(50% - 5em);
    left: calc(50% - 3em);
  }
  .future {
    width: 47.5vw;
    height: 90vh;
    position: relative;
  }
  .future .timeline {
    display: flex;
    flex-direction: row-reverse;
  }
  @supports (left: calc((1989 - 1959) * (100%/30))) and (transform: rotate(10deg)) {
    .timeline {
      min-height: auto;
      width: 100%;
      position: absolute;
      left: 0;
      top: calc(50% - 2em);
      transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
      transition-delay: 0.5s;
    }
    .loading .canvas .timeline {
      transform: rotate(0);
    }
    .past .timeline {
      transform-origin: center right;
    }
    .past .timeline__heading {
      position: absolute;
      transform: rotate(-90deg) translateY(-3em) translateX(-70%);
    }
    .past .hypertext {
      transform: rotate(10deg);
    }
    .past .networks {
      transform: rotate(-10deg);
    }
    .past .formats {
      transform: rotate(27deg);
    }
    /* adjustment */
    .past .formats .timeline__heading {
      transform: rotate(-90deg) translateY(-3em) translateX(-80%);
    }
    .past .computing {
      transform: rotate(-30deg);
    }
    .past .computing .timeline__heading {
      transform-origin: left center;
      transform: rotate(90deg) translateY(0.5em) translateX(10%);
    }
    .present .p-name {
      position: relative;
      top: -10em;
    }
    .future .timeline {
      transform-origin: center left;
    }
    .future .timeline__heading {
      transform: rotate(90deg) translateY(-3em) translateX(70%);
    }
    .future .browsers {
      transform: rotate(-35deg);
    }
    .future .servers {
      transform: rotate(15deg);
    }
    .future .servers .timeline__heading {
      transform: rotate(90deg) translateY(-2.75em) translateX(85%);
    }
    .future .formats {
      transform: rotate(-10deg);
    }
    .future .formats .timeline__heading {
      transform: rotate(90deg) translateY(-3em) translateX(80%);
    }
    .future .websites {
      transform: rotate(30deg);
    }
    .future .websites .timeline__heading {
      transform-origin: right center;
      transform: rotate(-90deg) translateY(0.75em) translateX(-25%);
    }

    /* Tweaks for legibility */
    .formats .y1991 .p-name {
      transform: translateX(3em) translateY(-1.125em);
    }
    .browsers .y1990 .p-name {
      margin-top: -4em;
    }
  }
  .present .h-event {
    right: auto;
  }
}