/* --------------------------------------------------------------------
               			WWW Browser / NEXT

-------------------------------------------------------------------- */

/* @FONT DECLARATIONS */

/* @FONT DECLARATIONS */
@font-face {
  font-family: 'NeXT_Bold';
  src: url('./fonts/CERN-www-regular-bold.woff2') format('woff2'),
    url('./fonts/CERN-www-regular-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeXT_Roman';
  src: url('./fonts/CERN-www-regular.woff2') format('woff2'),
    url('./fonts/CERN-www-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeXT Big_Bold';
  src: url('./fonts/CERN-www-headline-bold.woff2') format('woff2'),
    url('./fonts/CERN-www-headline-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeXT Mono_Regular';
  src: url('./fonts/CERN-www-mono.woff2') format('woff2'),
    url('./fonts/CERN-www-mono.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeXT Oblique';
  src: url('./fonts/CERN-www-regular-bold-oblique.woff2') format('woff2'),
    url('./fonts/CERN-www-regular-bold-oblique.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* DEFAULTS */
/*
body {
  font: 13px/1.45 "NeXT_Roman", Helvetica, "Helvetica Neue", Arial, sans-serif;
  color: #000;
  background-color: #555;
}

p, li, dt, dd {font-size: 13px;}


hr {
  height: 1px;
  background-color: #FFF;
  border: none;
  border-top: 1px solid #555;
}

img {max-width: 100%;}

abbr {text-decoration: none;}

*/
::-webkit-scrollbar {
	width: 17px;
  background-image: url(/images/ui-patterns/scroll-bg.png);
}
::-webkit-scrollbar-thumb {
    background: #AAA url(/images/ui-patterns/circle.png) center no-repeat;
		border-top: 1px solid #FFF;
		border-right: 1px solid #555;
		border-bottom: 1px solid #555;
		border-left: 1px solid #FFF;
}

/*
a {color: #000;}

::selection {color: #000; background-color: #AAA;}
*/
/* --------------- FORMS -------------------- */

input {
	font: 13px/1 "NeXT_Roman", Helvetica, "Helvetica Neue", Arial, sans-serif;
	padding: 2px 1px;
	border-top: 2px solid #555;
	border-left: 2px solid #555;
	border-radius: 0;
}

fieldset {
	position: relative;
	background-color: #AAA;
	padding: 1rem 0.5rem 0.5rem 0.5rem;
	border-top: 1px solid #555;
	border-right: 1px solid #555;
	border-bottom: 1px solid #FFF;
	border-left: 1px solid #555;
}

fieldset .content {position: relative; margin-top: 5px; z-index: 10;}

fieldset::before, fieldset::after {
  display: block;
  position: absolute;
	box-sizing: border-box;
  content: "";
}
fieldset::before {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-top: 1px solid #FFF;
	border-right: 1px solid #FFF;
	border-bottom: 1px solid #555;
	border-left: 1px solid #FFF;
	z-index: 1;
}

legend {
	position: absolute;
	width: 100%;
	top: -0.5em;
	left: 0;
	font-size: 13px;
	text-align: center;
	z-index: 10;
}
legend span {
	background-color: #AAA;
	padding: 0 0.5em;
}

/* --------------- BUTTONS -------------------- */

button {
  position: relative;
	width: 100%;
	font: 13px/1 "NeXT_Roman", Helvetica, "Helvetica Neue", Arial, sans-serif;
	background-color: #AAA;
	padding: 5px 0;
	border-top: 1px solid #FFF;
	border-left: 1px solid #FFF;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
}

button.active, button:active {
  background: #FFF;
}

button::after, button::before {
  display: block;
  position: absolute;
  content: "";
  background-color: #555;
}
button::after {
  width: 1px;
  height: 100%;
  top: 0;
  right: 0;
}
button::before {
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
}

button.icon-buttons {
	width: 17px;
  background-color: initial;
  border: none;
  padding: 0;
}

button.icon-buttons::before, button.icon-buttons::after {
  content: none;
}

button.enter-button {
	background: #AAA url(../img/enter-button.png) right no-repeat;
	padding: 10px;
}
button.enter-button.active, button.enter-button:active {
	background-color: #FFF;
}

/* Buttons/actions blocks */

ul.buttons-bar {
	display: flex;
	list-style-type: none;
}

ul.buttons-bar li {flex: 1;}

/* ----------------- TITLE BARS ---------------------- */

div.title-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  background-color: #AAA;
  padding: 0.2rem 0.2rem 0.1rem;
	border-top: 1px solid #FFF;
	border-left: 1px solid #FFF;
	border-bottom: 1px solid #000;
  outline: 1px solid #000;
}
div.title-bar::before, div.title-bar::after {
  display: block;
  position: absolute;
  content: "";
  background-color: #555;
}

div.title-bar::after {
  width: 1px;
  height: 100%;
  top: 0;
  right: 0;
}
div.title-bar::before {
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
}

.title-bar.active {
  color: #FFF;
  background-color: #000;
}
  div.title-bar h2 {
  	flex: 1;
    font: normal 13px "NeXT_Bold", Helvetica, "Helvetica Neue", Arial, sans-serif;
    text-align: center;
    margin: 0;
  }


/* --------------- WEBVIEW -------------------- */

div.webview {
	display: flex;
	flex-direction: column;
	border: 1px solid #000;
}

  div.webview div.r2l-content {
    direction: rtl;
    overflow: auto;
	  height: 60%;
	  max-height: 90vh;
	  width: 600px;
    background-color: #FFF;
  }
  div.webview div.l2r-content {
    direction: ltr;
    background-color: #FFF;
    padding: 0.3rem;
  }

button.grab-window {
	overflow: hidden;
	height: 8px;
	text-indent: -500em;
	color: #AAA;
	background-color: #AAA;
	background-image: url(../img/grabber-bg.png), url(../img/grabber-bg2.png);
	background-position: 50px 0, right center;
	background-repeat: repeat-y;
	margin-top: auto;
}


/* --------------- PANELS -------------------- */

div.panel {background-color: #AAA; border: 1px solid #000;}

  div.panel .content {
    background-color: #AAA;
  }

	div.panel .webview {
		margin: 0 auto;
	}

/* --------------- MAIN NAVIGATION -------------------- */

.panel.menu {
  top: 0;
  left: 0;
  min-width: 130px;
}
	.panel.menu .title-bar {
	  color: #FFF;
	  background-color: #000;
	}
  .panel.menu div.title-bar h2 {text-align: left;}
  .panel.menu ul {list-style-type: none;}

  .panel.menu nav button {
  	/* font-family: "NeXT_Bold", Helvetica, "Helvetica Neue", Arial, sans-serif; */
    text-align: left;
    padding: 0.3em 0.25em;
  }

  .panel.menu nav button.next {
    background-image: url(../images/ui-patterns/arrow-right.png);
    background-position: right;
    background-repeat: no-repeat;
  }

  .panel.menu nav button span {
    float: right;
    padding: 0 0.3em 0 0.5em;
  }

  div.demo .panel.menu {width: 135px;}
  .panel.menu nav {
    margin: 0;
  }
    .panel.menu nav ul li {
      display: block;
      margin-right: 0;
    }

/* ------------------------ SPECIFICS -------------------------- */


.components { max-width: 620px; }

section + section {
  margin-top: 2rem;
}

section h2 {margin-bottom: 1rem;}
section h2 + div.info {margin: -1rem 0 1rem;}
section h3 {font-size: 0.9em; margin-bottom: 1rem;}

div.demo + h3 {margin-top: 1rem;}

div.demo * {
  font: 13px/1 "NeXT_Roman", Helvetica, "Helvetica Neue", Arial, sans-serif;
  font-weight: normal;
}
div.demo div.title-bar h2 {
  font-family: "NeXT_Bold", Helvetica, "Helvetica Neue", Arial, sans-serif;
}

div.demo ul, div.demo ol {
    margin: 0;
}


div.demo.staged {
  background-color: #AAA;
  padding: 1rem;
}
ul.thumbs {
	display: flex;
	list-style-type: none;
  margin:  0;
}
	ul.thumbs li {
		margin-right: 0.5em;
	}

div.info {
	max-width: 35em;
	margin-bottom: 2rem;
}

button.grab-window {
	background-image: url(../images/ui-patterns/grabber-bg.png),
                    url(../images/ui-patterns/grabber-bg2.png);
}

button.enter-button {
	background: #AAA url(../images/ui-patterns/enter-button.png) right no-repeat;
}

div.demo.double {
  display: flex;
}
  div.demo.double > * {
    margin-right: 1rem;
  }

div.demo div.webview {
  width: initial;
  max-width: 550px;
  height: 150px;
  background-color: #FFF;
}
div.demo div.webview div.r2l-content {
    height: auto;
    max-height: 90vh;
    width: 100%;
}

div.demo hr {
  width: initial;
  height: 1px;
  background-color: #FFF;
  margin: 0;
  border: none;
  border-top: 1px solid #555;
}

/* Exception for palette from colophon */

div.demo ul.palette li {max-width: 50px;}
div.demo ul.palette li::before {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border-radius: 50px;
}

div.demo ul.palette li:nth-child(4)::before {
  content: "";
  background-color: #FFF;
}

div.first-block {
	text-align: center;
	padding-bottom: 7px;
}
	div.first-block p {
		padding: 5px 0 10px;
	}
	ul.buttons-bar.limited {
		justify-content: center;
	}
	ul.buttons-bar.limited li {
		flex: inherit;
		margin: 0 5px;
	}
	ul.buttons-bar.limited button {
		width: auto;
		padding: 0.3em 1em;
	}

.second-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
	.second-block > ul.buttons-bar:first-of-type {
		width: 177px;
	}
	.second-block fieldset ul.buttons-bar {
		width: 100px;
		padding: 5px 10px;
	}

	.second-block fieldset {padding: 5px 2px 0 2px;}


/* BROWSER INFO */

#browser-info header {
	display: flex;
	flex-wrap: wrap;
	padding: 10px 10px 0;
  border: 0;
}
	#browser-info .webview {margin-bottom: 10px;}
	#browser-info .hgroup {flex: 1;}

	#browser-info header p {
		flex-basis: 100px;
		text-align: center;
	}
	#browser-info header h3 {
		font: 20px "NeXT Big_Bold", Helvetica, "Helvetica Neue", Arial, sans-serif;
		margin-bottom: 0.5em;
	}
	#browser-info header p.baseline {
		width: 10em;
		font: 18px "NeXT_Roman", Helvetica, "Helvetica Neue", Arial, sans-serif;
		margin: 0;
	}
	#browser-info header p.release {
		text-align: left;
		color: #555;
	}
	#browser-info header address {
		flex-basis: 100%;
		font-size: 18px;
		font-style: normal;
		text-align: right;
	}

	#browser-info p.copyright {
		text-align: left;
		color: #555;
	}

	#browser-info .first-block {
		padding: 0 10px 20px;
	}
	#browser-info dl div {display: flex;}
	#browser-info dt, #browser-info dd {
		display: inline;
		font-size: 18px;
		text-align: left;
	}


/* BROWSER NAVIGATION */

#browser-nav {width: 210px;}
	#browser-nav .first-block {padding: 7px 2px 0 0;}

		#browser-nav .first-block button {padding: 0.6em 0.6em;}
	#browser-nav .second-block ul.buttons-bar {
		width: 100%;
		justify-content: space-between;
		padding: 0 0 5px;
	}
	#browser-nav .second-block ul.buttons-bar.limited li {margin: 0;}
	#browser-nav .second-block {padding: 7px; margin: 0;}

/* BROWSER INFO */
#browser-info {width: 620px;}

/* STYLE EDITOR */
#style-editor {width: 420px;}
	#style-editor .second-block {
		margin: 0 10px 15px 4px;
	}

	#style-editor .third-block {padding: 0 10px 10px;}
		#style-editor .third-block p:last-of-type {margin: 15px 0 10px;}

	#style-editor button.enter-button {
		position: absolute;
		width: 7em;
		right: 0;
		top: 0;
		padding: 5px;
	}

#tag-tabs {width: 340px; height: 3em;}

/* OPEN URL */
#open-url {width: 600px;}
	#open-url .second-block fieldset {
		width: 170px;
		margin-left: 15px;
	}
	#open-url .second-block {
		padding-bottom: 10px;
	}

	#open-url .second-block fieldset ul.buttons-bar {
		width: auto;
	}
	#open-url .second-block fieldset button {
		margin-top: 10px;
	}

	#open-url .second-block button.enter-button {
		font: 14px "NeXT Big_Bold", Helvetica, "Helvetica Neue", Arial, sans-serif;;
		width: 100px;
		margin-right: 15px;
	}
		#open-url .second-block button.enter-button strong {
			display: inline-block;
			padding: 0 25px 0 15px;
		}

#open-url .first-block p {
	padding: 18px 0;
}

ul.buttons-bar.vertical {
	flex-direction: column;
}
	ul.buttons-bar.vertical li + li {
		margin-top: 5px;
	}

p.tabbed {
	display: flex;
	align-items: center;
}

	p.tabbed + p.tabbed {margin-top: 4px;}
	p.tabbed label {
		flex-basis: 10em;
		text-align: right;
		padding-right: 3px;
	}

/* Specifics widths for inputs */


	input[name=style-name] {
		width: 241px;
	}
	#addr-reference {
		width: 486px;
		height: 3em;
	}
